*{box-sizing: border-box;}

:root{
    --light-gray: lightgray;
    --red:  tomato;
    --gray: gray;
}

header, main, footer {
    padding: 1rem 2rem;
}

body{
    min-height: 100vh;
    max-width: 1000px;
    font-family: sans-serif;
    border-left: 5px solid var(--light-gray);
    margin: auto;
}

h1{
    color: var(--red);
    font-size: 50px;
    font-weight: 200;
    margin-bottom: 10px;
}

h3{
    font-size: 40px;
    margin: 10px 0;
    font-weight: 100;
}

h2{
    font-weight: 200;
}

img{
    width: 100%;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

li{
    list-style: none;  
    color: gray;
    padding: 0;
}

nav li{
    border-bottom: 2px solid var(--light-gray);
}

time{
    font-size: 30px;
    color:var(--gray);
}

p{
    color: var(--gray);
    max-height: 200px;
    overflow-y: hidden;
}

#blog-post::first-letter{
    font-size: 6rem;
    float: left;
    line-height: 1;
    margin-right: 15px;
    color: var(--light-gray);
}

p{
    line-height: 1.5;
}

#copyrights{
    font-weight: 100;
}

#footer-nav li{
    text-decoration: none;
    color: var(--red);
}

.tin{color: var(--red);
    font-weight: bold;
    float: right;
}